{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Adding a reservation -->

<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="col-md-10">
      {% if user.is_authenticated %}
      <form id="reservation-form" method="post" class="reservation-form">
        {{ reservation_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit" class="btn submit-reservation-btn">Submit</button>
      </form>
      {% else %}
      <p>Please log in to make a reservation</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}