{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row col text-center">
        <h1>Welcome to The Boar's Head</h1>
    </div>
    <div class="row align-items-start">
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque magnam sapiente quam vero quos, velit doloribus alias dolores et dicta voluptate minus iure quas laborum possimus, perferendis qui saepe!</p>
      </div>
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque magnam sapiente quam vero quos, velit doloribus alias dolores et dicta voluptate minus iure quas laborum possimus, perferendis qui saepe!</p>
      </div>
    </div>
    <div class="row align-items-start">
        <div class="col-sm-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque magnam sapiente quam vero quos, velit doloribus alias dolores et dicta voluptate minus iure quas laborum possimus, perferendis qui saepe!</p>
        </div>
        <div class="col-sm-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque magnam sapiente quam vero quos, velit doloribus alias dolores et dicta voluptate minus iure quas laborum possimus, perferendis qui saepe!</p>
        </div>
      </div>
  </div>

{% endblock %}