{% extends "base.html" %}
{% block content %}

<div class="container-fluid gx-5">
    <div class=".container-fluid">
        <div class="row">
            <div class="col">
                <h1>Your reservations:</h1>
            </div>
            <div class="col text-end">
                <a href="{% url 'add-reservation' %}" class="btn btn-lg col-md-6 make-a-reservation-btn">Make a
                    reservation</a>
            </div>
        </div>
    </div>
    <!--Reservations displayed here-->
    <div class="row gy-5">
        {% if user.is_authenticated %}
        {% for reservation in reservation_list %}
        {% if user == reservation.reservation_booked_by %}
        <div class="col-md-4 gx-5">
            <div class="card row">
                <div class="card-body reservation-card">
                    <ul class="row list-unstyled">
                        <li class="col-sm-6 text-start">{{reservation.reservation_date}}</li>
                        <li class="col-sm-6 text-sm-end">{{reservation.reservation_time}}</li>
                        <li class="col-sm-6 text-start">Name: {{reservation.reservation_name}}</li>
                        <li class="col-sm-6 text-sm-end">Seats: {{reservation.number_of_guests}}</li>
                    </ul>
                    <div class="row">
                        <a href="../delete/{{reservation.id}}" class="btn btn-lg col-md-6 reservation-card-btn">Delete
                            Reservation</a>
                        <a href="../edit/{{reservation.id}}" class="btn btn-lg col-md-6 reservation-card-btn">Edit
                            Reservation</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-4 gx-5">
            {% else %}
            <p>You are not <a rel="stylesheet" href="{% url 'account_login' %}" class="btn sign-up-btn">logged
                    in.</a> Please <a rel="stylesheet" href="{% url 'account_login' %}"
                        class="btn sign-up-btn">log in
                    </a>or
                    <a rel="stylesheet" href="{% url 'account_signup' %}" class="btn sign-up-btn">sign
                        up</a> to make a reservation
                    or veiw existing reservations.</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}