{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<p>You are logged in as {{ user }}.</p>
{% else %}
<p>Please log in to make a reservation or veiw an existing reservation.</p>
{% endif %}


<h1>Your reservations:</h1>
{% for reservation in reservation_list %}
{% if user == reservation.reservation_booked_by %}

<div>
    <p>Name: {{reservation.reservation_name}}</p>
    <p>Date: {{reservation.reservation_date}}</p>
    <p>Time: {{reservation.reservation_time}}</p>
    <p>Guests: {{reservation.number_of_guests}}</p>
    <p>Id: {{reservation.id}}</p>
    <button><a href="../delete/{{reservation.id}}">Delete</a></button>

</div>
{% endif %}
{% endfor %}


<button><a href="{% url 'add-reservation' %}">Make a reservation</a></button>


{% endblock %}
