{% extends "base.html" %}
{% block content %}

<div class="container-fluid gx-5">

    <div class="row">
        <div class="col text-center">
            <h1>Menu</h1>
        </div>
    </div>
    {% for item in menu_heading %}
    {% with menu_head=item %}

    <div class="row">
        <div class="col text-center">
            <h2 class="menu-item-catagory">{{menu_head}}</h2>
        </div>
    </div>

    <div class="row">
        {% for entry in menu_list %}
        {% if entry.menu_entry_type == menu_head %}
        <div class="col-sm-6 col-md-4">
            <ul class="list-unstyled m-3 menu-item-entry p-3">
                <li>{{entry.menu_entry_name}}</li>
                <li>{{entry.menu_entry_description}}</li>
                <li class="text-sm-end">£{{entry.menu_entry_price}}</li>
            </ul>
        </div>
        {% endif %}
        {% endfor%}

    </div>
    {% endwith %}
    {% endfor%}
</div>

{% endblock %}